/apps/sample_apps/deepstream-test1/deepstream-test1-app
/apps/sample_apps/deepstream-test1/deepstream_test1_app.o
/apps/sample_apps/deepstream-test2/deepstream-test2-app
/apps/sample_apps/deepstream-test2/deepstream_test2_app.o