# sample apps
/apps/sample_apps/deepstream-test1/deepstream-test1-app
/apps/sample_apps/deepstream-test1/*.o
/apps/sample_apps/deepstream-test2/deepstream-test2-app
/apps/sample_apps/deepstream-test2/*.o
/apps/sample_apps/deepstream-test3/deepstream-test3-app
/apps/sample_apps/deepstream-test3/*.o
/apps/sample_apps/deepstream-test4/deepstream-test4-app
/apps/sample_apps/deepstream-test4/*.o
/apps/sample_apps/deepstream-test5/deepstream-test5-app
/apps/sample_apps/deepstream-test5/*.o

# deepstream-app
/apps/sample_apps/deepstream-app/deepstream-app
/apps/sample_apps/deepstream-app/*.o

# apps-common
/apps/apps-common/src/*.o
/apps/apps-common/src/deepstream-yaml/*.o

# supervisord
/apps/supervisord.log
/apps/supervisord.pid